.aboutSection {
  background: linear-gradient(180deg, #eaeaea 0%, #ffffff 100%);
  color: #2c2e43;
  position: relative;
  z-index: 1;
  padding: 2.5rem 0 4rem 2rem;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translateZ(0px) scale(1);
}
.aboutContent {
  max-width: 680px;
  margin: auto;
}

.aboutContent p{
  text-align: justify;
}

.aboutImg {
  background-image: url(../../../public/aboutImg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-left: 35px;
  border-radius: 10px;
  margin-top: 5rem;
  padding: 1rem;
  transform-style: preserve-3d;
}
.teamEx {
  text-align: center;
  color: azure;
}
.teamEx::before {
  position: absolute;
  content: "";
  width: 9.7rem;
  border: 1px solid white;
  left: -3rem;
  height: 8rem;
  top: -1.8rem;
  border-right: none;
}
.aboutCounter {
  position: relative;
  top: 1.25rem;
}
.counterCard {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.counterCard h3 {
  font-weight: 700;
  font-size: 55px;
  color: #2f3e65;
  position: absolute;
}
.counterCard h3 span {
  font-size: 0.85rem;
  display: block;
  text-align: center;
  font-weight: 500;
  margin-top: 3.4rem;
}
.counterCard p {
  font-size: 1rem;
  color: #000;
  margin-bottom: 0;
  font-weight: 500;
  padding-left: 85px;
  padding-top: 8px;
  margin-top: 8px;
}
.aboutSection::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 90px;
  background-color: #fff;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.aboutUs {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #2f3e65;
  color: white;
  font-size: 1rem;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  border: 2px solid white;
  font-weight: 400;
}
.aboutUs:hover {
  color: #2f3e65;
  border: 2px solid #2f3e65;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 1px rgba(255, 255, 255, 0.7);
  background-color: white;
}
