.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 5000;
  transition: all 0.2s ease-in;
}

.collapseableMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapseableMenu ul {
  list-style: none;
  display: flex;
  text-decoration: none;
  column-gap: 2.5rem;
  color: aliceblue;
  margin-bottom: 0;
}

.collapseableMenu a {
  text-decoration: none;
  color: inherit;
}
.collapseableMenu a:hover,
.socials a:hover {
  color: burlywood;
}

.socials {
  display: flex;
  column-gap: 2rem;
  padding-right: 3rem;
  align-items: center;
  
}

.socials a {
  text-decoration: none;
  color: aliceblue;
}
.signUp {
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.2s ease;
  border: none;
}
.signUp:hover {
  background-color: #2f3e65;
  color: white;
}
