@font-face {
  font-family: formula;
  src: url(../../public/FORMULA1-REGULAR.OTF);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto;
  font-size: 1.2rem;
}
h2 {
  font-size: 2.75rem !important;
  font-weight: 900;
}
h3 {
  font-weight: 700;
}

.btn2 {
  background: linear-gradient(90deg, #0b2464 100%, #0b2464 50%) var(--_p, 50%) /
    200%;
  border: 1px solid #0b2464;
  padding: 0.5rem 1.5rem;
  color: #fff;
  transition: all 0.3s ease;
}
.btn2:hover {
  --_p: 100%;
  scale: 1.05;
}
.serviceCardItem:hover .btn2 {
  border: 1px solid white;
  background: white;
}

button a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

li > a {
  font-family: "Roboto";
}
.bodyWrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
  scroll-behavior: smooth;
}

.formula {
  font-family: formula;
  font-weight: 900;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mt-4 {
  position: relative;
  top: 4rem;
}
.mi-a {
  margin-inline: auto;
}

/* Aboout Page */
.innerHeader {
  background: url(/aboutBg.jpg);
  background-size: cover;
  min-height: 90vh;
  position: relative;
}
.innerBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin-inline: auto;
  color: white;
  align-items: center;
}
.innerBanner h2 {
  font-family: formula;
  font-weight: 600;
  word-spacing: 0.5rem;
  font-size: 3rem;
}
.innerBannerLeft p {
  width: 70%;
  margin-right: auto;
  font-size: 1.4rem;
  margin-top: 3rem;
}
.runner {
  display: flex;
  align-items: center;
  font-family: formula;
  gap: 0.5rem;
  justify-content: center;
}
.innerBanner .d-flex {
  gap: 4rem;
}
.counter {
  display: flex;
  flex-direction: column;
}

.counter h4 {
  font-size: 1.5rem;
}
.t-muted {
  color: #6c757d !important;
}

.card {
  position: relative;
}

/* Service Page */
.servicesMain {
  padding: 6rem 2rem 4rem;
}
.servicesMain .row {
  text-align: center;
  justify-content: space-around;
}
.serviceBox {
  padding: 1rem;
  width: 100%;
  transform: translate3d(0px, 0px, 0px);
  transform-style: preserve-3d;
}
.serviceItem {
  height: 25rem;
  position: relative;
}
.serviceItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.servicePage .servicesSection {
  transform-style: flat;
  transform: translateZ(0) scale(1);
  padding-top: 2rem;
}
.servicePage .serviceHead {
  color: #0b2464;
}

.aboutContent {
  max-width: 680px;
  margin: auto;
  perspective: 20px;
}
.aboutContent p {
  text-align: justify;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem !important;
  }
}

/* ServicePage */
.serviceMain .row {
  gap: 1rem;
  text-align: center;
}

.textDiv {
  background-color: rgba(14, 14, 14, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  color: white!important;
}
.serviceListIcon svg {
  width: 50px !important;
}
.serviceBox .visible{
  display: flex;
  row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.serviceBox .inv{
  opacity: 0;
  
  padding: 2rem 4rem;
  transform-style: preserve-3d;
}
.inv.boxAnimate{
  animation: bAni 0.3s ease 0.1s ;
  transform: translate3d(0px 0px 0px);
}

@keyframes bAni {
  0%{
    transform: translate3d(0 80px 0px);
  }
  100%{
    transform: translate3d(0px 0px 0px);
  }
}